@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway:300,400,600|Courgette&display=swap');

.pushable > .pusher {
    overflow: visible;
}
.navbar {
    width: 100%;
    height: 55px;
    vertical-align: middle;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-family: Great Vibes, cursive;
        font-size: 34px;
        top: 0px;
        margin-left: 10px;
        color: beige;
        cursor: pointer;
    }

    & nav {
        display: inline;

        & > .ui.button {
            display: none;
        }
    }

    & ul {
        margin: 0 10px 0 0;
        display: inline-block;
        & li {
            display: inline;
            padding: 10px;
            font-weight: bold;
            & a.active {
                border-bottom: 3px solid white;
                padding-bottom: 4px;
            }
            & .link {
                color: beige;
                font-size: medium;
                outline: none;
            }
            & .link:hover {
                opacity: 0.5;
                border-bottom: 3px solid white;
                padding-bottom: 4px;
            }
            & .link:focus {
                border-bottom: 3px solid white;
                padding-bottom: 4px;
                outline: none;
            }
        }
    }
}

.ui.horizontal.divider:before,
.ui.horizontal.divider:after {
    background-size: 5rem 0.14rem;
    margin: 25px 0;
}
.layout {
    margin: 5px 20px;

    .tech-rating {
        float: right;
        margin: 5% 0% 0% 62%;
    }

    .ui.grid > [class*='two column'].row > .column > div {
        background-color: #e3bebb;
        height: 100%;
        width: 100%;
        background-clip: content-box;
        padding: 20px;

        .ui.list {
            padding-left: 15px;

            > .content {
                display: inline-block;
            }
        }

        .ui.list:hover {
            transform: scale(1.01);
        }
    }
}

.section-divider {
    margin: 30px 0px 10px 0;
}

.section-title {
    display: inline-block;
    font-family: Raleway, sans-serif;
    margin: 25px 10px 25px 15px;
    padding: 5px;
}

.footer {
    height: 300px;
    width: 100%;
    background-color: #484848;

    & .footer-column {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 50%;
        display: inline-block;
        vertical-align: top;

        & .indian-head {
            width: 200px;
            margin: 50px 10px 50px 50px;
            display: inline-block;
        }
    }
    & .divider {
        border-left: 2px solid #929292;
        height: 80%;
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        margin-top: 33px;
    }
    & .content {
        width: 266px;
        display: inline-block;
        vertical-align: top;
        margin: 130px 0 0 20px;
        color: #939598;

        & center {
            display: contents;
        }

        & .social-media-icon {
            color: beige;
            font-size: 2em;
            margin-right: 5px;
        }
        & .social-media-icon:nth-of-type(1) {
            margin-left: 17px;
        }
        & .social-media-icon:hover {
            font-size: 2.2em;
        }

        & button {
            display: block;
            padding: 0 15px;
            font-family: Courgette, cursive;
            text-transform: uppercase;
            height: 30px;
            letter-spacing: 1px;
            border-radius: 5px;
            font-weight: bold;
            background-color: #6d6e71;
            color: #fff;
            outline: none;
            border: none;
            margin-top: 10px;
        }
        & button:hover {
            background-color: #545557;
        }
        & button:after {
            content: '\02C3';
            font-weight: bold;
        }
    }
    & .tipjar {
        opacity: 0.8;
        width: 200px;
        margin: 82px 10px 0 0;
    }
    & .tipjar:hover {
        opacity: 1;
    }

    .termsFooter {
        height: 50px;
        background-color: #484848;
        border-top: 2px solid #929292;
        width: 100%;
        text-transform: uppercase;
        color: #939598;
        text-align: center;

        & p {
            line-height: 10px;
            height: 30px;
            margin: 0px;
            vertical-align: middle;
            padding: 10px;
            margin-top: 10px;
        }

        & a {
            text-decoration: none;
            outline: none;
            color: inherit;
        }
        & a:hover {
            color: white;
            font-weight: bold;
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        & ul {
            display: none;
        }

        & nav {
            & > .ui.button {
                display: inline;
            }
        }
    }

    .layout {
        margin: 0;
        & .tech-rating {
            margin: 5% 0 0 0;
        }
        .ui.grid {
            margin-left: 0px;
            margin-right: 0px;
        }
        .ui.grid > [class*='two column'].row > .column {
            width: 100% !important;
            padding: 0px;

            div {
                margin: 0 10px 10px 13px;
                height: auto;
                width: auto;
                padding: 0px;

                .ui.list > .content {
                    display: inline-block;
                }
            }
        }
    }

    .footer {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .footer-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & .indian-head {
                margin: 50px 0px 0px 0px;
                width: 70%;
            }
        }

        & .divider {
            border-top: 2px solid #929292;
            width: 80%;
            display: inline-block;
            border-radius: 50%;
            margin-top: 20px;
        }

        & .content {
            width: auto;
            margin: 10px 0 0 0;
            & center {
                display: block;
            }
        }

        & .tipjar {
            margin: 30px 10px 0 0;
        }
    }
}
