
.contactme-container {
    background-image: url(../../assets/images/contactMe.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & h1 {
        text-transform: uppercase;
        margin: 50px 0px 50px 0px !important;
    }
    
    & > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;

        & img {
            width: 25%;
        }

        & form {
            display: flex;
            flex-direction: column;
            align-items: center;

            & div {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                width: 430px;
            
            & .error {
                border: 1px solid red;
            }

            & input {
                border: 1px solid rgb(227, 227, 227);
                border-radius: 40px;
                height: 48px;
                width: 400px;
                font-family: "Open Sans";
                font-size: 16px;
                padding: 0px 20px;
                outline: none;
            }

            & textarea {
                border: 1px solid rgb(227, 227, 227);
                border-radius: 16px;
                height: 100px;
                width: 400px;
                font-family: "Open Sans";
                font-size: 16px;
                line-height: 1;
                padding: 12px 20px;
                outline: none;
            }

            & button {
                height: 56px;
                width: 400px;
                padding: 22px 0px;
                cursor: pointer;
                background: -webkit-linear-gradient(left, rgb(148, 115, 221) 0%, rgb(26, 201, 228) 100%);
                border: none;
                font-family: 'Arial Narrow', Arial, sans-serif;
                font-size: 18px;
                font-weight: 600;
                color: rgb(255, 255, 255);
                line-height: 1;
                border-radius: 30px;
                transition: background 200ms ease 0s;
                outline: none;
                text-transform: uppercase;
            }
        }
        }


    }                                                                     
}